<!doctype html>
<meta charset="UTF-8">
<title>{{app_name}}: Atualizar senha</title>
<body>
<h1>Atualize sua senha</h1>
<p>Caro usuário,<br>
    o endereço de IP {{ip_user}} solicitou a redefinição da sua senha.
</p>
<form action="{{ url_for('userpasswordchange', token=token, password=form.password)}}" method="POST">
    <p>Senha<br>
        {{ form.password(size=32) }}
    </p>
    <p>Confirme sua senha<br>
        {{ form.confirmPassword(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
</body>




