<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{app_name}}: Redefina sua senha</title>
</head>
<body>
<p> Caro usuário,</p>
<p> o endereço de IP {{ip_user}} solicitou a redefinição da sua senha.</p>
<p>
    Para redefinir sua senha
    <a href="{{url}}">
        clique aqui
    </a>
</p>
<p>Você também pode copiar o link abaixo na barra de endereço do seu browser</p>
<p>{{ url }}</p>
<p> Se você não enviou email pedindo senha, ignore essa mensagem,</p>
<p>mas proteja seus dispositivos como celulares e computadores de terceiros</p>
<p></p>
<p>Atenciosamente,</p>
<p>Equipe: {{app_name}}</p>
</body>
</html>